.place__image {
  object-fit: contain;
  padding-top: 48px;
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 320px;
    padding-top: 32px;
  }
}
