.intro__list {
  list-style: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  max-width: 690px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro__list {
    max-width: 720px;
  }
}
