.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  max-width: 360px;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 276px; /* В макете ширина объекта чуть больше, но в работе указал иную, чтобы соблюсти положение текст. */
  }
}
