.intro {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
    width: 91vw;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-top: 88px;
    width: 94vw;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: 92vw;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding-top: 64px;
    width: 89vw;
  }
}
